<div class="card-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Bolt</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>Név: {{shop.name}}</div>
            <div>Város: {{shop.city}}</div>
            <div>Közterület: {{shop.street}}</div>
        </mat-card-content>
    </mat-card>
</div>
<div class="table-container">
  <h2>Áruk</h2>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        No.
      </th>
      <td #element_id mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Név
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        Ár
      </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} Ft</td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        Értékelés
      </th>
      <td mat-cell *matCellDef="let element"> 5/{{element.rating}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="goToItemDetails(row.id)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<button class="add-item-button" (click)="openDialog()" *ngIf="getAuthStatus()" color="warn" mat-fab aria-label="Add item">
  <mat-icon>add</mat-icon>
</button>