#search-bar {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 40vh;
}

#subCategories {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
