#search-bar {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 40vh;
}

#items {
    display: flex;
    justify-content: center;
}

#container {
    width: 70%;
}

.item {
    display: flex;
    justify-content: center;
}
