<div id="search-bar">
  <mat-form-field>
    <mat-label color="blue">Search</mat-label>
    <input type="search" matInput placeholder="Start typing...">
    <!--<mat-icon matSuffix>search</mat-icon>-->
    <div id="button-div" matSuffix>
      <button mat-icon-button>
        <mat-icon aria-label="Serach icon">search</mat-icon>
      </button>
    </div>
  </mat-form-field>
</div>
<div id="categories">
  <div *ngFor="let category of categories">
    <a mat-button mat-card style="background-image: url(); width: 200px; height: 200px; margin: 10px; box-shadow: 0px 3px 20px rgb(141, 141, 141); ">
      {{category.name}}
    </a>
  </div>
</div>
