<div id="search-bar">
  <mat-form-field>
    <mat-label color="blue">Keresés</mat-label>
    <input type="search" [(ngModel)]="searchInput" matInput placeholder="Termék keresése...">
    <!--<mat-icon matSuffix>search</mat-icon>-->
    <div id="button-div" matSuffix>
      <button mat-icon-button [routerLink]="['/items', 0, searchInput]">
        <mat-icon aria-label="Search icon">search</mat-icon>
      </button>
    </div>
  </mat-form-field>
</div>
<div id="categories">
  <div *ngFor="let category of categories">
    <a mat-button mat-card [routerLink]="['/categories', category.cat_id]" style="background-image: url(); width: 200px; height: 200px; margin: 10px; box-shadow: 0px 3px 20px rgb(141, 141, 141); ">
      {{category.name}}
    </a>
  </div>
</div>
